[Desktop Entry]
Encoding=UTF-8
Name=Link to Freesound - "Bass drum.wav" by biodegry
Type=Link
URL=https://freesound.org/people/biodegry/sounds/34498/
Icon=text-html
