[Desktop Entry]
Encoding=UTF-8
Name=Link to Freesound - "Increase 01.wav" by michael_kur95
Type=Link
URL=https://freesound.org/people/michael_kur95/sounds/342744/
Icon=text-html
Name[en_US]=revive
