[Desktop Entry]
Encoding=UTF-8
Name=Link to Freesound - "Electro win sound" by Mativve
Type=Link
URL=https://freesound.org/people/Mativve/sounds/391539/
Icon=text-html
Name[en_US]=win
