[Desktop Entry]
Encoding=UTF-8
Name=Link to Free Music Archive: Rolemusic - The Pirate And The Dancer
Type=Link
URL=http://freemusicarchive.org/music/Rolemusic/The_Pirate_And_The_Dancer/04_rolemusic_-_the_pirate_and_the_dancer
Icon=text-html
Name[en_US]=bg_music_01
